@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plaster&display=swap');
body {
    background-color: rgba(0, 0, 0, 0.857);
    background-image: url(https://alumni.arizona.edu/sites/default/files/styles/az_natural/public/2022-06/old%20main.jpg.webp?itok=2y5j7ESw);
    width: fit-content;
    background-size: cover;
}

h1 {
    background-color: rgba(255, 255, 255, 0);
    font-family: Cinzel;
    font-size: 60px;
    text-align: center;
    margin: auto;
    width: fit-content;
    border-radius: 23px;
    padding: 50px;
}

.Information {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.47);
    font-size: 22px;
    padding: 5px;
    border-radius: 23px;
    height: auto;
    width: fit-content;
    
}

.header {
    background-image: url("https://phoenixmed.arizona.edu/sites/default/files/campus/marcomm/brand/master-logo/7-ua-vertical-black/ua_stack_rgb_black_10.png");
    background-color: rgba(255, 255, 255, 0.374);
    margin: auto;
    background-repeat: no-repeat;
    border-radius: 23px;
    background-size: contain;
    position: relative;
    width: 50%;
}

li {
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.756);
    color: white;
    border-radius: 5px;
}

h2 {
    margin: auto;
    width: fit-content;
    background-color: navy;
    color: white;
    border-radius: 4px;
}

.button {
    background-color: rgba(255, 255, 255, 0.333);
    color: black;
    width: fit-content;
    padding: 0.1px;
    border-radius: 23px;
}

h3:hover {
    background-color: navy;
}

.button:hover {
    background-color: navy;
}


