body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgb(245, 245, 246);
    margin-bottom: 760;
    padding-left: 6px;
    position: relative;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: start; 
    padding-left: 15px;
    margin-right: 45%;  
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 25px;
    text-align: center;
    position: absolute;
    color: rgb(0, 0, 0);
}

.header {
    background-color: red;
    padding-left: 650px;
    border-radius: 50px;
    height: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 450px;
    margin-right: 50px;
    padding-right: 50px;
}





    

