@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plaster&display=swap');
body {
    background-image: url("https://www.commonapp.org/static/12ae9bb983b1451e145a5c596558527d/university-arizona_886.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 166px;
    filter: opacity(23px, 54px, 12px);
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: Cinzel;
    font-size: 30px;
    text-align: center; 
    margin-right: 150%;  
}

h2 {
    color: white;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 25px;
    text-align: center;
    color: rgb(255, 251, 251);
    background-color: rgba(0, 0, 0, 0.636);
    border-radius: 35px;
    height: 130px;
}

.header {
    background-color: rgba(10, 7, 48, 0.685);
    padding-left: 260px;
    border-radius: 15px;
    height: 60px;
    width: 350px;
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnwOPWeHe4qXRNiMeX-UBPn83Y4VKEXtHgw&s");
    background-repeat: no-repeat;
    background-size:contain;
    position: static;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10%;
    width: fit-content;
}

.card img {
    display: flex;
    flex-direction: row;
    border-radius: 10%;
    background-size: cover;
    margin-left: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.card:hover {
    animation: hover 2s;
    filter: drop-shadow(3px 4px 2px rgb(255, 255, 255));

}

@keyframes hover {
    0% {
        transform: rotate(0deg);
        opacity: 90%;
    }
    100% {
        transform: rotate(2deg);
    }
    50% {
        animation-duration: infinite;
    }
}










    

