@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plaster&display=swap');
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgb(163, 36, 36);
    margin-bottom: 760;
    padding-left: 6px;
    position: relative;
}

h1 {
    font-family: Cinzel;
    font-size: 30px;
    text-align: center; 
    padding-right: 150px;
    margin-right: 45%;  
}

a {
    color: white;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 25px;
    text-align: center;
    color: rgb(255, 251, 251);
    background-color: black;
    border-radius: 35px;
    height: 250px;
}

.header {
    background-color: rgb(0, 0, 0);
    padding-left: 650px;
    border-radius: 50px;
    height: 100px;
    color: white;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 3px;
    margin-top: 15px;
    border-radius: 100%;
    background-color: white;
    width: 50%;
}

.card img {
    border-radius: 100%;
}

.card:hover {
    animation: my-animation 60s;
    filter: drop-shadow(3px 4px 2px rgb(11, 13, 123));

}

@keyframes my-animation {
    0% {
        filter: drop-shadow(10px 15px 5px rgb(0, 30, 255));
    }
    100% {
        filter:drop-shadow(30px 40px 20px rgb(12, 26, 106));
    }
    50% {
        filter:opacity(12px 20px 30px);
    }
    100% {

    }
}







    

