.header img {
    height: 200px;
    width: 85px;
}

body {
    background-image: url(https://www.commonapp.org/static/12ae9bb983b1451e145a5c596558527d/university-arizona_886.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 900px;
}

.h1 {
    margin-top: 500px;
}
    

